

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0;
    min-height: 100vh;

    background-color: black;
}

h1 {
    color: black;
}

button {
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

/*Hacer desaparecer las flechas própias de un imput number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
    text-align: right;
    padding-right: 20px;
    width: 80%;
    height: 50px;   
    margin: 10px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;

    /*background-color: transparent;*/
    color: #333;
    box-shadow: inset 5px 5px 10px #bec7d4, inset -5px -5px 10px #ffffff;
}

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
    height: 5vh;
    width: 70vh;
    margin-bottom: 10px;
    border-radius: 20px;

    background-color:rgb(241, 162, 59);
}

.bottons-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-items: center;

    gap: 10px;
    width: 90%;
    height: 90%;
}

.marco-calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 40%;
    height: 70vh;
    
    border-radius: 40px;
    border-color: black;
    background-color: rgba(216, 216, 216, 0.836);
}

.button-calculator,
.button-calculator-number  {
    height: 90%;
    width: 90%;
    background-color:rgb(241, 162, 59);
    border-radius: 30px;

    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.button-calculator:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.button-calculator:active {
    transform: translateY(1px); /* Efecto de "clic" al presionar */
}
